<!DOCTYPE html>
<html>
    <head>
    <title>Catgirls Cafe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <style>
        #center_maid{
            text-align: center;
            object-fit: cover;
        }
    </style>
    </head>
    
    <body>
    {% include 'nav.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Catgirls Cafe</h1>
        <img class="rounded mx-auto d-block mb-4" src="/static/catgirl_maid.jpg">
        <p>You just need to be a cute fluffy catgirl who knows how to deal with customers of all types. Please do not scratch our knock over valuable customer posessions. We would like to stay in business and keep good relations with our community customers. While we believe the customer is always right, we value our employees deeply and we are extremely mission driven; that is, we work hard to nourish a work culture where catgirls of all variety will fit right in to a role that we have available. Apply, godspeed.</p>

        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <div class="accordion mb-4">
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
    </body>
</html>